ul li h1::before {
    content: "\2022"; 
  color: blue;
  display: inline-block; 
  width: 1em; 
  margin-left: +1em; 
}
ul li h2::before {
    content: "\2022";  
  color: red; 
  display: inline-block; 
  width: 1em; 
  margin-left: +1em; 
}
ul li h3::before {
    content: "\2022";  
  color: green; 
  display: inline-block; 
  width: 1em; 
  margin-left: +1em; 
}